<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
	<property name="LOG_PATH" value="${appdir}/quartzscheduler/log" />
	<property file="${appdir}\quartzscheduler\conf\application.properties"/>
	<include file="${appdir}/quartzscheduler/conf/logback_conf.xml"/>
</configuration>

